<%- include('../template/head'); %>


<body class="text-center">


    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>


        <main role="main" class="inner cover">
            <h1 class="cover-heading">Succesfully logged in</h1>
            <p class="lead">Press the button to continue to the job list page
            </p>
            <p class="lead">
                <a href="/joblist" class="btn btn-lg btn-secondary">Continue ></a>
            </p>
        </main>




        <%- include('../template/footer'); %>
    </div>

    

</body>
</html>