<%- include('../template/head')-%>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        
        <%- include('../template/nav')-%>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Welcome to Diaverse Trucking</h1>
            <p class="lead">We are a trucking company that specializes in getting your delivery right to your client. 
                We are always looking for new or experienced drivers to join our team of excellence. If you are interested you can apply <a href="/applicantform">HERE</a>.
            </p>

        </main>
        <%- include('../template/footer')-%>
    </div>
</body>
<script>
    window.onload = function() {
        document.getElementById('home').classList.add('active');
      };
</script>
</html>
