<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head'); %>

</head>
<body class="text-center">

    <header>
        <%- include('../template/nav'); %>
    </header>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Succesfully sent application</h1>
            <p class="lead">
            </p>
        </main>

           


    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>
    </div>

    

</body>
</html>