<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Daycare Center</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id='home' class="nav-link" href="/home">Home</a>
            <a id='facility' class="nav-link" href="/facility">Facility</a>
            <a id='classroom' class="nav-link" href="/classroom">Classroom</a>
            <a id='teacher' class="nav-link" href="/teacher">Teacher</a>
            <a id='child' class="nav-link" href="/child">Child</a>
        </nav>
    </div>
</header>